[Desktop Entry]
Name=Note with background color
Name[ca]=Nota amb un color de fons
Name[ca@valencia]=Nota amb un color de fons
Name[de]=Notiz mit Hintergrundfarbe
Name[es]=Nota con color de fondo
Name[fi]=Taustavärillinen muistiinpano
Name[fr]=Note avec couleur d'arrière plan
Name[ia]=Nota con color de fundo
Name[it]=Note con colore di sfondo
Name[nds]=Notiz mit Achtergrundklöör
Name[nl]=Notitie met achtergrondkleur
Name[pl]=Notatka z kolorem tła
Name[pt]=Nota com cor de fundo
Name[pt_BR]=Nota com cor de fundo
Name[sk]=Poznámka s farbou pozadia
Name[sr]=Белешка са позадинском бојом
Name[sr@ijekavian]=Белешка са позадинском бојом
Name[sr@ijekavianlatin]=Beleška sa pozadinskom bojom
Name[sr@latin]=Beleška sa pozadinskom bojom
Name[sv]=Anteckning med bakgrundsfärg
Name[uk]=Нотатка з кольоровим тлом
Name[x-test]=xxNote with background colorxx
Description=Theme which use note background color
Description[ca]=Tema que usa una nota amb un color de fons
Description[ca@valencia]=Tema que usa una nota amb un color de fons
Description[de]=Design mit Hintergrundfarbe für die Notizen
Description[es]=Tema que usa color de fondo de nota
Description[fi]=Teema, jossa muistiinpanoilla on taustaväri
Description[fr]=Thème qui utilise la couleur d'arrière plan des notes
Description[ia]=Thema que usa nota con color de fundo
Description[it]=Tema che usa il colore di sfondo delle note
Description[nds]=Muster, dat de Notiz-Achtergrundklöör bruukt
Description[nl]=Thema dat achtergrondkleur van notitie gebruikt
Description[pl]=Wystrój, który używa koloru tła dla notatki
Description[pt]=Tema que usa uma cor de fundo nas notas
Description[pt_BR]=Tema que usa a nota com cor de fundo
Description[sk]=Téma, ktorá používa farbu pozadia poznámky
Description[sr]=Тема са позадинском бојом за белешке
Description[sr@ijekavian]=Тема са позадинском бојом за белешке
Description[sr@ijekavianlatin]=Tema sa pozadinskom bojom za beleške
Description[sr@latin]=Tema sa pozadinskom bojom za beleške
Description[sv]=Tema som använder anteckningens bakgrundsfärg
Description[uk]=Тема, у якій використовується кольорове тло нотатки
Description[x-test]=xxTheme which use note background colorxx
