[Desktop Entry]
Icon=network-wired
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_network
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Network
Name[ga]=Líonra
Name[pt_BR]=Rede
Name[sv]=Nätverk
Name[uk]=Мережа
Name[zh_TW]=網路
Comment=Network Settings
Comment[ga]=Socruithe Líonra
Comment[pt_BR]=Configurações de rede
Comment[sv]=Nätverksinställningar
Comment[uk]=Параметри мережі
Comment[zh_TW]=網路設定
