[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_action
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Actions
Name[ga]=Gníomhartha
Name[nds]=Akschonen
Name[pt]=Acções
Name[pt_BR]=Ações
Name[sv]=Åtgärder
Name[uk]=Дії
Name[zh_TW]=動作
Comment=Setup actions for notes
Comment[nds]=Akschonen för Notizen inrichten
Comment[pt_BR]=Configurar ações para notas
Comment[sv]=Ställ in åtgärder för anteckningslappar
Comment[uk]=Налаштуйте дії для нотаток
Comment[zh_TW]=設定備忘的動作
