[Desktop Entry]
Icon=knotes
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_display
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Display
Name[et]=Vaade
Name[ga]=Taispeáint
Name[gl]=Visualización
Name[nb]=Visning
Name[nds]=Dorstellen
Name[pt]=Visualização
Name[pt_BR]=Exibir
Name[sv]=Skärm
Name[tr]=Görünüm
Name[uk]=Показ
Name[x-test]=xxDisplayxx
Name[zh_TW]=顯示：
Comment=Setup display for notes
Comment[et]=Märkmete vaate seadistamine
Comment[ga]=Socraigh taispeáint na nótaí
Comment[gl]=Configuración da visualización das notas
Comment[nb]=Sett opp visning av notater
Comment[nds]=Dorstellen för Notizen inrichten
Comment[pt]=Configurar a visualização das notas
Comment[pt_BR]=Configurar exibição para notas
Comment[sv]=Ställ in skärm för anteckningslappar
Comment[tr]=Notların görünümünü ayarla
Comment[uk]=Налаштуйте показ нотаток
Comment[x-test]=xxSetup display for notesxx
Comment[zh_TW]=設定備忘的顯示
