[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_style
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Style
Name[ga]=Stíl
Name[nb]=Stil
Name[nds]=Stil
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[sv]=Stil
Name[tr]=Biçim
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_TW]=樣式
Comment=Style Settings
Comment[ga]=Socruithe Stíle
Comment[nb]=Stilinnstillinger
Comment[nds]=Stil instellen
Comment[pt]=Configuração do Estilo
Comment[pt_BR]=Configurações de estilo
Comment[sv]=Stilinställningar
Comment[tr]=Biçim Ayarları
Comment[uk]=Параметри стилю
Comment[x-test]=xxStyle Settingsxx
Comment[zh_TW]=樣式設定
