[Desktop Entry]
Encoding=UTF-8
DocPath=knotes/index.html
Exec=knotes
Icon=knotes
Terminal=false
Type=Application

GenericName=Popup Notes
GenericName[el]=Αναδυόμενες σημειώσεις
GenericName[fr]=Éditeur de petites notes
GenericName[x-test]=xxPopup Notesxx

Name=KNotes
Name[x-test]=xxKNotesxx

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
