[Desktop Entry]
Icon=knotes
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_display
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Display
Name[ca]=Visor
Name[cs]=Zobrazení
Name[da]=Vis
Name[de]=Anzeige
Name[el]=Εμφάνιση
Name[et]=Vaade
Name[fr]=Affichage
Name[ga]=Taispeáint
Name[gl]=Visualización
Name[it]=Visualizzazione
Name[km]=បង្ហាញ
Name[lv]=Attēlošana
Name[mai]=देखाबू
Name[nb]=Visning
Name[nds]=Dorstellen
Name[nl]=Tonen
Name[nn]=Vising
Name[pa]=ਡਿਸਪਲੇਅ
Name[pt]=Visualização
Name[pt_BR]=Exibir
Name[ru]=Вывод на экран
Name[sv]=Skärm
Name[tr]=Görünüm
Name[uk]=Показ
Name[x-test]=xxDisplayxx
Name[zh_CN]=显示
Name[zh_TW]=顯示：
Comment=Setup display for notes
Comment[ca]=Arranja el visor per les notes
Comment[cs]=Nastavení zobrazení poznámek
Comment[da]=Opsæt visning af noter
Comment[de]=Anzeige von Notizen einrichten
Comment[el]=Ρύθμιση εμφάνισης για τις σημειώσεις
Comment[et]=Märkmete vaate seadistamine
Comment[fr]=Configuration de l'affichage pour les notes
Comment[ga]=Socraigh taispeáint na nótaí
Comment[gl]=Configuración da visualización das notas
Comment[it]=Imposta la visualizzazione per le note
Comment[km]=រៀបចំ​ការ​បង្ហាញ​សម្រាប់​ការ​កត់​ចំណាំ
Comment[lv]=Piezīmju attēlošanas konfigurēšana
Comment[nb]=Sett opp visning av notater
Comment[nds]=Dorstellen för Notizen inrichten
Comment[nl]=Stel het tonen van notities in
Comment[nn]=Set opp vising av notat
Comment[pa]=ਨੋਟਿਸ ਲਈ ਸੈਟਅੱਪ ਡਿਸਪਲੇਅ
Comment[pt]=Configurar a visualização das notas
Comment[pt_BR]=Configurar exibição para notas
Comment[ru]=Настроить вывод заметок на экран
Comment[sv]=Ställ in skärm för anteckningslappar
Comment[tr]=Notların görünümünü ayarla
Comment[uk]=Налаштуйте показ нотаток
Comment[x-test]=xxSetup display for notesxx
Comment[zh_CN]=便笺显示设置
Comment[zh_TW]=設定備忘的顯示
