[Desktop Entry]
DocPath=knotes/index.html
Exec=knotes
Icon=knotes
Terminal=false
Type=Application

GenericName=Popup Notes
GenericName[af]=Opspring Notas
GenericName[ar]=الملاحظات المنبثقة
GenericName[bg]=Лепящи се бележки
GenericName[bs]=Popup bilješke
GenericName[ca]=Notes emergents
GenericName[cs]=Vyskakovací poznámky
GenericName[cy]=Naid-nodiadau
GenericName[da]=Popop-noter
GenericName[de]=Haftnotizen
GenericName[el]=Αναδυόμενες σημειώσεις
GenericName[eo]=Glunotoj
GenericName[es]=Notas emergentes
GenericName[et]=Hüpikmärkmed
GenericName[eu]=Laster-lehio oharrak
GenericName[fa]=یادداشتهای بالاپر
GenericName[fi]=Muistilaput
GenericName[fr]=Éditeur de petites notes
GenericName[fy]=Notysjes
GenericName[gl]=Notas Emerxentes
GenericName[he]=פתקים מוקפצים
GenericName[hi]=पॉप-अप टीप
GenericName[hr]=Skočne bilješke
GenericName[hu]=Jegyzettömb
GenericName[is]=Litlir gulir miðar
GenericName[it]=Note a comparsa
GenericName[ja]=ポップアップメモ
GenericName[ka]=მოტივტივე შენიშვნები
GenericName[kk]=Қалқымалы жазбалар
GenericName[km]=ចំណាំ​លេចឡើង
GenericName[lt]=Pastabos lapeliuose
GenericName[lv]=Izlecošās Piezīmes
GenericName[mk]=Скок-белешки
GenericName[ms]=Nota Popup 
GenericName[mt]=Noti żgħar
GenericName[nb]=Sprettopp-notater
GenericName[nds]=Opduk-Notizen
GenericName[ne]=पपअप टिपोट
GenericName[nl]=Notities
GenericName[nn]=Sprettoppnotat
GenericName[nso]=Ditshwao tsa Thlarogo
GenericName[pl]=Żółte karteczki
GenericName[pt]=Notas
GenericName[pt_BR]=Notas instantâneas
GenericName[ro]=Notiţe personale
GenericName[ru]=Всплывающие заметки
GenericName[sk]=Vyskakujúce poznámky
GenericName[sl]=Prilepljajoče se notice
GenericName[sr]=Искачуће напомене
GenericName[sr@Latn]=Iskačuće napomene
GenericName[sv]=Anteckningslappar
GenericName[ta]=தோன்றும் குறிப்புகள்
GenericName[tg]=Хабарҳои ошкоршаванда
GenericName[th]=บันทึกช่วยจำแบบป๊อพอัพ
GenericName[tr]=Seyyar Notlar
GenericName[uk]=Вигулькні нотатки
GenericName[vi]=Ghi chép Popup
GenericName[xh]=Ivelisa iincwadana
GenericName[zh_CN]=弹出式记事本
GenericName[zh_TW]=彈出式筆記本
GenericName[zu]=Amapheshana Abhaliwe Aziphumelayo

Name=KNotes
Name[af]=Knotas
Name[be]=K Нататкі
Name[cy]=KNodiadau
Name[eo]=Notoj
Name[hi]=के-नोट्स
Name[hr]=Bilješka
Name[lv]=KPiezīmes
Name[mk]=КБелешки
Name[ne]=केडीई टिपोट
Name[nso]=KDitshwao
Name[pl]=Notatki
Name[ro]=Notiţe
Name[sl]=KNotice
Name[sv]=Knotes
Name[ta]=கேகுறிப்புகள்
Name[th]=บันทึกช่วยจำ
Name[zh_TW]=KNotes 便利貼

X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;Office;
