<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="KNotes" version="8">

<Menu name="note_context" noMerge="1">
    <Action name="insert_date"/>
    <Action name="set_alarm"/>
    <Action name="send_note"/>
    <Action name="mail_note"/>
    <Action name="print_note"/>
    <Action name="save_note"/>
    <Action name="configure_note"/>
    <Separator/>
    <Action name="new_note"/>
    <Action name="rename_note"/>
    <Action name="lock_note"/>
    <Action name="hide_note"/>
    <Action name="delete_note"/>
    <Separator/>
    <Action name="to_desktop"/>
    <Action name="keep_above"/>
    <Action name="keep_below"/>
</Menu>

<ToolBar name="note_tool">
    <Action name="format_bold"/>
    <Action name="format_italic"/>
    <Action name="format_underline"/>
    <Action name="format_strikeout"/>
    <Separator/>
    <Action name="format_alignleft"/>
    <Action name="format_aligncenter"/>
    <Action name="format_alignright"/>
    <Action name="format_alignblock"/>
    <Separator/>
    <Action name="format_list"/>
    <Action name="format_super"/>
    <Action name="format_sub"/>
    <Separator/>
    <Action name="format_color"/>
    <Separator/>
    <Action name="format_font"/>
    <Action name="format_size"/>
</ToolBar>

<Menu name="note_edit" noMerge="1">
    <Action name="edit_undo"/>
    <Action name="edit_redo"/>
    <Separator/>
    <Action name="edit_cut"/>
    <Action name="edit_copy"/>
    <Action name="edit_paste"/>
    <Action name="edit_clear"/>
    <Separator/>
    <Action name="edit_select_all"/>
</Menu>

</kpartgui>
