# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Notes
Name[be]=Нататкі
Name[br]=Notennoù
Name[bs]=Bilješke
Name[cs]=Poznámky
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[es]=Notas
Name[et]=Märkmed
Name[fi]=Muistio
Name[ga]=Nótaí
Name[gl]=Notas
Name[hi]=टीप
Name[hu]=Feljegyzések
Name[is]=Minnismiðar
Name[it]=Note
Name[nl]=Notities
Name[nn]=Notat
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notiţe
Name[ru]=Заметки
Name[se]=Nohtat
Name[sk]=Poznámky
Name[sl]=Notice
Name[sr]=Белешке
Name[sr@Latn]=Beleške
Name[sv]=Anteckningar
Name[ta]=குறிப்புகள்
Name[tg]=Ахборот
Name[tr]=Notlar
Name[uk]=Примітки
Name[uz]=Ёзма хотира
Name[xx]=xxNotesxx
Name[zh_CN]=便笺
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=notes
