# KDE Config File
[Desktop Entry]
Name=Notes
Name[af]=Notas
Name[ar]=الملاحظات
Name[be]=Нататкі
Name[bg]=Бележки
Name[br]=Notennoù
Name[bs]=Bilješke
Name[cs]=Poznámky
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[eo]=Notoj
Name[es]=Notas
Name[et]=Märkmed
Name[eu]=Oharrak
Name[fa]=یادداشتها
Name[fi]=Muistio
Name[fy]=Notysjes
Name[ga]=Nótaí
Name[gl]=Notas
Name[he]=פתקים
Name[hi]=टीप
Name[hu]=Feljegyzések
Name[is]=Minnismiðar
Name[it]=Note
Name[ja]=メモ
Name[ka]=ჩანიშვნები
Name[kk]=Жазбалар
Name[km]=ចំណាំ
Name[lt]=Užrašai
Name[mk]=Белешки
Name[ms]=Nota
Name[nds]=Notizen
Name[ne]=टिपोट
Name[nl]=Notities
Name[nn]=Notat
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notiţe
Name[ru]=Заметки
Name[se]=Nohtat
Name[sk]=Poznámky
Name[sl]=Notice
Name[sr]=Белешке
Name[sr@Latn]=Beleške
Name[sv]=Anteckningar
Name[ta]=குறிப்புகள்
Name[tg]=Ахборот
Name[th]=บันทึกช่วยจำ
Name[tr]=Notlar
Name[uk]=Примітки
Name[uz]=Yozma xotira
Name[uz@cyrillic]=Ёзма хотира
Name[zh_CN]=便笺
Name[zh_TW]=備忘錄
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=notes
