[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_action
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Actions
Name[da]=Handlinger
Name[de]=Aktionen
Name[el]=Ενέργειες
Name[et]=Toimingud
Name[ga]=Gníomhartha
Name[gl]=Accións
Name[km]=អំពី
Name[lt]=Veiksmai
Name[lv]=Darbības
Name[nb]=Handlinger
Name[nds]=Akschonen
Name[nn]=Handlingar
Name[pt]=Acções
Name[pt_BR]=Ações
Name[ru]=Действия
Name[sv]=Åtgärder
Name[tr]=Eylemler
Name[uk]=Дії
Name[x-test]=xxActionsxx
Name[zh_CN]=动作
Name[zh_TW]=動作
Comment=Setup actions for notes
Comment[da]=Opsætning af handlinger til noter
Comment[el]=Ρύθμιση ενεργειών για τις σημειώσεις
Comment[et]=Märkmete toimingute seadistamine
Comment[gl]=Configurar as accións das notas
Comment[km]=រៀបចំ​សកម្មភាព​សម្រាប់​ការ​កត់​ចំណាំ
Comment[lv]=Piezīmju darbību konfigurēšana
Comment[nb]=Sett opp handlinger for notater
Comment[nds]=Akschonen för Notizen inrichten
Comment[nn]=Set opp handlingar for notat
Comment[pt]=Configurar as acções das notas
Comment[pt_BR]=Configurar ações para notas
Comment[ru]=Настроить действия связанные с заметками
Comment[sv]=Ställ in åtgärder för anteckningslappar
Comment[tr]=Notlar için eylemleri ayarla
Comment[uk]=Налаштуйте дії для нотаток
Comment[x-test]=xxSetup actions for notesxx
Comment[zh_CN]=便笺动作设置
Comment[zh_TW]=設定備忘的動作
