[Desktop Entry]
DocPath=knotes/index.html
Exec=knotes
Icon=knotes
Terminal=0
Type=Application

Comment=You can write small notes with this
Comment[ca]=Amb això podeu escriure notetes
Comment[cs]=Tento program umožňuje psát krátké poznámky
Comment[de]=Zum Schreiben kurzer Notizen
Comment[eo]=Skribu notojn per ĝi
Comment[es]=Puede escribir pequeñas notas con esto
Comment[et]=Selle rakendusega saad kirjutada töölauale märkmeid
Comment[fi]=Voit kirjoittaa pieniä muistilappuja tällä ohjelmalla
Comment[fr]=Prise de notes
Comment[he]=םינטק םיקתפ בותכל ךל רשפאמ
Comment[hr]=Pišite male bilješke
Comment[hu]=Kis cetlikre lehet írni
Comment[is]=knotes:  Hvorki lím né pappír... en samt gult !
Comment[it]=Puoi scrivere piccole note con questo
Comment[ja]=小さな覚書を書いておきます
Comment[mk]=Пишување на мали блешки што може да ги залепите на работната површина
Comment[nl]=Hiermee kunt U kleine notities maken
Comment[no]=For å skrive korte notiser
Comment[pt]=Pode escrever pequenas notas com isto
Comment[ro]=Cu acest program puteţi scrie mici însemnări
Comment[ru]=Вы можете писать маленькие записки
Comment[sl]=Beležnica za kratke zapise
Comment[sr]=BeleĹžnik
Comment[sv]=Med detta kan du skriva korta anteckningar
Comment[ta]=இைத ைவ஡ஂது நீஙஂகளஂ சினஂன குறிபஂபுகைள எழுதலாமஂ
Comment[tr]=Bununla küçük notlar yazabilirsiniz

Name=Popup Notes(Version 2)
Name[ca]=Notes emergents
Name[cs]=Poznámky
Name[de]=Notizen
Name[eo]=Notoj
Name[es]=Notas emergentes
Name[et]=Märkmed
Name[fi]=Muistilappu
Name[fr]=Éditeur de notes
Name[he]=םיצפקומ םיקתפ
Name[hr]=Popup Bilješke
Name[hu]=Cetlik
Name[is]=Gulir minnismiðar
Name[it]=Note
Name[ja]=ポップアップノート
Name[mk]=Лепливи белешки
Name[nl]=Popup Notities
Name[no]=Notislapp
Name[pt]=Notas
Name[ro]=Notiţe
Name[sl]=Prilepljajoči se zaznamki
Name[sv]=Anteckningslappar
Name[ta]=ேமலஂமீடஂபு குறிபஂபுகளஂ
Name[tr]=Seyyar Notlar

