[Desktop Entry]
Icon=accessories-text-editor
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_editor
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Editor
Name[da]=Redigering
Name[el]=Επεξεργασία
Name[et]=Redaktor
Name[ga]=Eagarthóir
Name[km]=កម្មវិធី​និពន្ធ
Name[nb]=Redigerer
Name[nn]=Redigeringsprogram
Name[ru]=Редактор
Name[tr]=Düzenleyici
Name[uk]=Редактор
Name[x-test]=xxEditorxx
Name[zh_CN]=编辑器
Name[zh_TW]=編輯器
Comment=Setup editor
Comment[da]=Opsætning af redigering
Comment[el]=Ρύθμιση επεξεργασία
Comment[et]=Redaktori seadistamine
Comment[ga]=Socraigh an t-eagarthóir
Comment[gl]=Configurar o editor
Comment[km]=រៀបចំ​កម្មវិធី​និពន្ធ
Comment[nb]=Sett opp redigering
Comment[nds]=Editor inrichten
Comment[nn]=Set opp redigeringsprogram
Comment[pt]=Configurar o editor
Comment[pt_BR]=Configurar editor
Comment[ru]=Настроить редактор заметок
Comment[sv]=Editorinställning
Comment[tr]=Düzenleyiciyi ayarla
Comment[uk]=Налаштуйте редактор
Comment[x-test]=xxSetup editorxx
Comment[zh_CN]=设置编辑器
Comment[zh_TW]=設定編輯器
