[Desktop Entry]
Icon=network-wired
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_network
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Network
Name[de]=Netzwerk
Name[et]=Võrk
Name[ga]=Líonra
Name[gl]=Rede
Name[nb]=Nettverk
Name[nds]=Nettwark
Name[nn]=Nettverk
Name[pt]=Rede
Name[pt_BR]=Rede
Name[sv]=Nätverk
Name[tr]=Ağ
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_TW]=網路
Comment=Network Settings
Comment[de]=Netzwerkeinstellungen
Comment[et]=Võrguseadistused
Comment[ga]=Socruithe Líonra
Comment[gl]=Configuración da rede
Comment[nb]=Nettverksinnstillinger
Comment[nds]=Nettwark instellen
Comment[nn]=Nettverksinnstillingar
Comment[pt]=Configuração da Rede
Comment[pt_BR]=Configurações de rede
Comment[sv]=Nätverksinställningar
Comment[tr]=Ağ Ayarları
Comment[uk]=Параметри мережі
Comment[x-test]=xxNetwork Settingsxx
Comment[zh_TW]=網路設定
