[Desktop Entry]
Encoding=UTF-8
Name=Notes in Local File
Name[be]=Нататкі ў лякальным файле
Name[da]=Noter i lokal fil
Name[el]=Σημειώσεις σε τοπικό αρχείο
Name[es]=Avisos sobre el archivo local
Name[et]=Märkmed kohalikus failis
Name[fr]=Notes dans un fichier local
Name[nl]=Notities in lokaal bestand
Name[pt_BR]=Notas em Arquivo Local
Name[sv]=Anteckningar i lokal fil
Name[ta]=உள் கோப்பில் உள்ள குறிப்புகள்
X-KDE-Library=knotes_local
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=notes
X-KDE-ResourceType=file
