[Desktop Entry]
Encoding=UTF-8
Name=Notes in Local File
Name[be]=Нататкі ў лякальным файле
Name[bg]=Бележки в локален файл
Name[ca]=Notas a fitxer local
Name[cs]=Poznámky v lokálním souboru
Name[da]=Noter i lokal fil
Name[de]=Notizen in lokaler Datei
Name[el]=Σημειώσεις σε τοπικό αρχείο
Name[es]=Avisos sobre el archivo local
Name[et]=Märkmed kohalikus failis
Name[fr]=Notes dans un fichier local
Name[gl]=Notas en Ficheiro Local
Name[he]=פתקים בקובץ מקומי
Name[hu]=Helyi fájlban tárolt feljegyzések
Name[it]=Note in file locale
Name[nb]=Notater i lokal fil
Name[nl]=Notities in lokaal bestand
Name[nn]=Notat i lokal fil
Name[pl]=Notatki w pliku lokalnym
Name[pt]=Notas num Ficheiro Local
Name[pt_BR]=Notas em Arquivo Local
Name[ru]=Заметки в локальном файле
Name[sk]=Poznámky v lokálnom súbore
Name[sl]=Notice v krajevni datoteki
Name[sr]=Забелешке у локалном фајлу
Name[sr@Latn]=Забелешке у локалном фајлу
Name[sv]=Anteckningar i lokal fil
Name[ta]=உள் கோப்பில் உள்ள குறிப்புகள்
Name[tg]=Хабарҳо дар файли локалӣ
Name[zh_CN]=本地文件中的笔记
X-KDE-Library=knotes_local
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=notes
X-KDE-ResourceType=file
