[Desktop Entry]
Name=Notes Agent
Name[bs]=Agent za bilješke
Name[ca]=Agent de notes
Name[ca@valencia]=Agent de notes
Name[cs]=Agent poznámek
Name[da]=Noter-agent
Name[de]=Notizen-Agent
Name[el]=Πράκτορας σημειώσεων
Name[en_GB]=Notes Agent
Name[es]=Agente de notas
Name[et]=Märkmete agent
Name[fi]=Muistiinpanoagentti
Name[fr]=Agent pour les notes
Name[gl]=Axente de Notas
Name[hu]=Jegyzetek ügynök
Name[ia]=Agente de Notas (Notes Agent)
Name[it]=Agente delle note
Name[nb]=Notatagent
Name[nds]=Notizenhölper
Name[nl]=Agent voor notities
Name[pl]=Usługa notatek
Name[pt]=Agente de Notas
Name[pt_BR]=Agente de Notas
Name[ru]=Агент заметок
Name[sk]=Agent poznámok
Name[sl]=Posrednik za sporočilca
Name[sr]=Агент бележака
Name[sr@ijekavian]=Агент бележака
Name[sr@ijekavianlatin]=Agent beležaka
Name[sr@latin]=Agent beležaka
Name[sv]=Anteckningsmodul
Name[tr]=Not Aracı
Name[uk]=Агент нотаток
Name[x-test]=xxNotes Agentxx
Name[zh_TW]=便條代理程式
Comment=Adds notes received via network and handles note alarm notifications
Comment[bs]=Dodaje bilješke primljene preko mreže i rukuje napomenama alarma bilješki
Comment[ca]=Afegeix notes rebudes a través de la xarxa i s'ocupa de les notificacions d'alarma
Comment[ca@valencia]=Afig notes rebudes a través de la xarxa i s'ocupa de les notificacions d'alarma
Comment[da]=Tilføjer noter modtaget via netværk og håndterer bekendtgørelse af notealarmer
Comment[de]=Fügt Notizen hinzu, die über das Netzwerk erhalten wurden und verarbeitet Benachrichtigungen über Notiz-Erinnerungen
Comment[el]=Προσθέτει σημειώσεις που έχουν ληφθεί δικτυακά και χειρίζεται τις ειδοποιήσεις συναγερμού σημειώσεων
Comment[en_GB]=Adds notes received via network and handles note alarm notifications
Comment[es]=Añade notas recibidas vía red y maneja notificaciones de alarmas de notas
Comment[et]=Märkmete lisamine võrgu kaudu ja märkmehäirete märguannete käitlemine
Comment[fi]=Lisää verkon välityksellä vastaanotetut muistiinpanot ja käsittelee muistiinpanojen hälytysilmoitukset
Comment[fr]=Ajoute les notes reçus par le réseau et gère les notifications d'alarme
Comment[gl]=Engade notas recibidas a través da rede e xestiona as notificacións das alarmas das notas
Comment[hu]=Hálózatról fogadott jegyzeteket ad hozzá és kezeli a jegyzetriasztási értesítéseket
Comment[ia]=Adde notas recipite via rete e manea notificationes de nota de alarma
Comment[it]=Aggiunge le note ricevute via rete e gestisce le notifiche di avvisi delle note
Comment[nb]=Legger til notater mottatt over nettverket og behandler notatvarslinger
Comment[nds]=Föögt Notizen över't Nettwark to un gifft över Alarmnotizen Bescheed
Comment[nl]=Voegt notities toe ontvangen via het netwerk en behandelt meldingen over herinneringen voor notities
Comment[nn]=Varslar og handsamar av notat mottekne via nettverk.
Comment[pl]=Dodaje notatki otrzymywane przez sieć i obsługuje alarmy notatek
Comment[pt]=Adiciona as notas recebidas pela rede e lida com as notificações dos alarmes das notas
Comment[pt_BR]=Adiciona notas recebidas via rede e lida com as notificações de alarme das notas
Comment[ru]=Добавляет заметки, полученные по сети, и отрабатывает привязанные к ним напоминания
Comment[sk]=Pridá poznámky prijaté cez sieť a spracuje upozornenia výstrah poznámok
Comment[sl]=Doda sporočilca prejeta preko omrežja in obravnava obvestila alarma o sporočilcih
Comment[sr]=Додаје белешке примљене преко мреже и обрађује обавештења аларма бележака
Comment[sr@ijekavian]=Додаје белешке примљене преко мреже и обрађује обавештења аларма бележака
Comment[sr@ijekavianlatin]=Dodaje beleške primljene preko mreže i obrađuje obaveštenja alarma beležaka
Comment[sr@latin]=Dodaje beleške primljene preko mreže i obrađuje obaveštenja alarma beležaka
Comment[sv]=Lägger till anteckningar mottagna via nätverk och hanterar alarmunderrättelser för anteckningar
Comment[tr]=Ağ üzerinden alınan notlar ekler ve not uyarı bildirimlerini işler
Comment[uk]=Додає нотатки, отримані з мережі, та обробляє сповіщення-нагадування з нотаток
Comment[x-test]=xxAdds notes received via network and handles note alarm notificationsxx
Comment[zh_TW]=新增從網路接收到的便條並處理便條的鬧鐘通知
Type=AkonadiAgent
Exec=akonadi_notes_agent
Icon=knotes
X-DocPath=akonadi_notes_agent/index.html
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_notes_agent
