[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_print
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Print
Name[ca]=Impressió
Name[de]=Drucken
Name[ia]=Imprime
Name[kk]=Басып шығару
Name[nl]=Afdrukken
Name[pt]=Imprimir
Name[pt_BR]=Imprimir
Name[sk]=Tlačiť
Name[sv]=Skriv ut
Name[uk]=Друк
Name[x-test]=xxPrintxx
Comment=Setup printing for notes
Comment[ca]=Arranja la impressió per a les notes
Comment[de]=Drucken für Notizen einrichten
Comment[ia]=Configuration imprimente pro notas
Comment[kk]=Жазбаларды басып шығаруды баптау
Comment[nl]=Afdrukken instellen voor notities
Comment[pt]=Configurar a impressão das notas
Comment[pt_BR]=Configurar a impressão para notas
Comment[sk]=Nastavenie tlače pre poznámky
Comment[sv]=Ställ in utskrift för anteckningslappar
Comment[uk]=Налаштування друку нотаток
Comment[x-test]=xxSetup printing for notesxx
