[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_print
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Print
Name[bs]=Štampaj
Name[ca]=Impressió
Name[de]=Drucken
Name[es]=Imprimir
Name[fi]=Tulostus
Name[fr]=Impression
Name[gl]=Imprimir
Name[ia]=Imprime
Name[it]=Stampa
Name[kk]=Басып шығару
Name[nl]=Afdrukken
Name[pt]=Imprimir
Name[pt_BR]=Imprimir
Name[sk]=Tlačiť
Name[sr]=Штампање
Name[sr@ijekavian]=Штампање
Name[sr@ijekavianlatin]=Štampanje
Name[sr@latin]=Štampanje
Name[sv]=Skriv ut
Name[uk]=Друк
Name[x-test]=xxPrintxx
Name[zh_TW]=列印
Comment=Setup printing for notes
Comment[bs]=Postavi štampanje za bilješke
Comment[ca]=Arranja la impressió per a les notes
Comment[cs]=Nastavení tisku pro poznámky
Comment[de]=Drucken für Notizen einrichten
Comment[es]=Configurar impresión para notas
Comment[fi]=Muistiinpanojen tulostusasetukset
Comment[fr]=Configuration de l'impression pour les notes
Comment[gl]=Configurar a impresión das notas
Comment[ia]=Configuration imprimente pro notas
Comment[it]=Imposta la stampa per le note
Comment[kk]=Жазбаларды басып шығаруды баптау
Comment[nl]=Afdrukken instellen voor notities
Comment[pt]=Configurar a impressão das notas
Comment[pt_BR]=Configurar a impressão para notas
Comment[sk]=Nastavenie tlače pre poznámky
Comment[sr]=Подесите штампање за белешке
Comment[sr@ijekavian]=Подесите штампање за биљешке
Comment[sr@ijekavianlatin]=Podesite štampanje za bilješke
Comment[sr@latin]=Podesite štampanje za beleške
Comment[sv]=Ställ in utskrift för anteckningslappar
Comment[uk]=Налаштування друку нотаток
Comment[x-test]=xxSetup printing for notesxx
Comment[zh_TW]=設定備忘的列印
