[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_collection
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Collections
Name[ca]=Col·leccions
Name[cs]=Sbírky
Name[da]=Samlinger
Name[de]=Sammlungen
Name[es]=Colecciones
Name[fi]=Kokoelmat
Name[fr]=Collections
Name[hu]=Gyűjtemények
Name[ia]=Collectiones
Name[it]=Collezioni
Name[nb]=Samlinger
Name[nds]=Sammeln
Name[nl]=Verzamelingen
Name[pl]=Zbiory
Name[pt]=Colecções
Name[pt_BR]=Coleções
Name[ru]=Коллекции
Name[sk]=Kolekcie
Name[sr]=Збирке
Name[sr@ijekavian]=Збирке
Name[sr@ijekavianlatin]=Zbirke
Name[sr@latin]=Zbirke
Name[sv]=Samlingar
Name[uk]=Збірки
Name[x-test]=xxCollectionsxx
Name[zh_TW]=收藏
Comment=Setup collections for notes
Comment[bs]=Postavna kolekcija za bilješke
Comment[ca]=Arranja les col·leccions per a les notes
Comment[ca@valencia]=Arranja les col·leccions per a les notes
Comment[cs]=Nastavení sbírek pro poznámky
Comment[da]=Opsætning af samlinger for noter
Comment[de]=Sammlungen für Notizen einrichten
Comment[el]=Ρύθμιση συλλογών για τις σημειώσεις
Comment[es]=Configurar colecciones para notas
Comment[fi]=Muistiinpanojen kokoelma-asetukset
Comment[fr]=Configuration des collections pour les notes
Comment[gl]=Configurar as coleccións de notas
Comment[hu]=Gyűjtemények beállítása a jegyzetekhez
Comment[ia]=Configura collectiones pro notas
Comment[it]=Imposta le collezioni per le note
Comment[nb]=Sett opp samlinger for notater
Comment[nds]=Sammeln för Notizen inrichten
Comment[nl]=Verzamelingen instellen voor notities
Comment[pl]=Ustaw zbiory dla notatek
Comment[pt]=Configurar as colecções das notas
Comment[pt_BR]=Configurar as coleções das notas
Comment[ru]=Настройка коллекций, хранящих заметки
Comment[sk]=Nastavenie kolekcií pre poznámky
Comment[sr]=Подесите збирке за белешке
Comment[sr@ijekavian]=Подесите збирке за биљешке
Comment[sr@ijekavianlatin]=Podesite zbirke za bilješke
Comment[sr@latin]=Podesite zbirke za beleške
Comment[sv]=Ställ in anteckningssamlingar
Comment[uk]=Налаштовування збірок нотаток
Comment[x-test]=xxSetup collections for notesxx
Comment[zh_TW]=設定便條收藏
