[Desktop Entry]
Icon=knotes
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_display
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Display
Name[ar]=العرض
Name[bs]=Prikaz
Name[ca]=Visor
Name[ca@valencia]=Visor
Name[cs]=Zobrazení
Name[da]=Vis
Name[de]=Anzeige
Name[el]=Εμφάνιση
Name[en_GB]=Display
Name[eo]=Vidigilo
Name[es]=Pantalla
Name[et]=Vaade
Name[fi]=Näkymä
Name[fr]=Affichage
Name[ga]=Taispeáint
Name[gl]=Visualización
Name[hu]=Megjelenítés
Name[ia]=Monstrator
Name[it]=Visualizzazione
Name[ja]=表示
Name[kk]=Көрсету
Name[km]=បង្ហាញ
Name[ko]=표시
Name[lt]=Rodymas
Name[lv]=Attēlošana
Name[mai]=देखाबू
Name[mr]=दर्शवा
Name[nb]=Visning
Name[nds]=Dorstellen
Name[nl]=Tonen
Name[nn]=Vising
Name[pa]=ਦਿੱਖ
Name[pl]=Wyświetlanie
Name[pt]=Visualização
Name[pt_BR]=Exibir
Name[ro]=Afișare
Name[ru]=Вывод на экран
Name[sk]=Obrazovka
Name[sl]=Prikaz
Name[sr]=Приказ
Name[sr@ijekavian]=Приказ
Name[sr@ijekavianlatin]=Prikaz
Name[sr@latin]=Prikaz
Name[sv]=Skärm
Name[tr]=Görünüm
Name[ug]=كۆرسەتكۈچ
Name[uk]=Показ
Name[wa]=Håynaedje
Name[x-test]=xxDisplayxx
Name[zh_CN]=显示
Name[zh_TW]=顯示
Comment=Setup display for notes
Comment[ar]=تهيئة عرض الملاحظات
Comment[bs]=Postavi prikaz za bilješke
Comment[ca]=Arranja el visor per les notes
Comment[ca@valencia]=Arranja el visor per les notes
Comment[cs]=Nastavení zobrazení poznámek
Comment[da]=Opsæt visning af noter
Comment[de]=Anzeige von Notizen einrichten
Comment[el]=Ρύθμιση εμφάνισης για τις σημειώσεις
Comment[en_GB]=Setup display for notes
Comment[es]=Configurar pantalla para las notas
Comment[et]=Märkmete vaate seadistamine
Comment[fi]=Muistiinpanojen näkymäasetukset
Comment[fr]=Configuration de l'affichage pour les notes
Comment[ga]=Socraigh taispeáint na nótaí
Comment[gl]=Configuración da visualización das notas
Comment[hu]=Megjelenési beállítás feljegyzésekhez
Comment[ia]=Configuration de vista pro notas
Comment[it]=Imposta la visualizzazione per le note
Comment[ja]=ポップアップメモの表示設定
Comment[kk]=Жазбаларын көрсетуді баптау
Comment[km]=រៀបចំ​ការ​បង្ហាញ​សម្រាប់​ការ​កត់​ចំណាំ
Comment[lt]=Nustatyti lapelių rodymą
Comment[lv]=Piezīmju attēlošanas konfigurēšana
Comment[mr]=नोंदींकरिता दृश्य संयोजीत करा
Comment[nb]=Sett opp visning av notater
Comment[nds]=Dorstellen för Notizen inrichten
Comment[nl]=Stel het tonen van notities in
Comment[nn]=Set opp vising av notat
Comment[pa]=ਨੋਟਿਸ ਲਈ ਸੈੱਟਅੱਪ ਦਿੱਖ
Comment[pl]=Ustaw wyświetlanie dla notatek
Comment[pt]=Configurar a visualização das notas
Comment[pt_BR]=Configurar exibição para notas
Comment[ro]=Configurează afișarea notițelor
Comment[ru]=Настроить вывод заметок на экран
Comment[sk]=Nastavenie obrazovky pre poznámky
Comment[sl]=Nastavitev prikaza notic
Comment[sr]=Подесите приказ за белешке
Comment[sr@ijekavian]=Подесите приказ за биљешке
Comment[sr@ijekavianlatin]=Podesite prikaz za bilješke
Comment[sr@latin]=Podesite prikaz za beleške
Comment[sv]=Ställ in skärm för anteckningslappar
Comment[tr]=Notların görünümünü ayarla
Comment[uk]=Налаштуйте показ нотаток
Comment[wa]=Apontyî l' håynaedje po les notes
Comment[x-test]=xxSetup display for notesxx
Comment[zh_CN]=便笺显示设置
Comment[zh_TW]=設定備忘的顯示
