[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_action
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Actions
Name[ar]=الإجراءات
Name[bs]=Akcije
Name[ca]=Accions
Name[ca@valencia]=Accions
Name[cs]=Činnosti
Name[da]=Handlinger
Name[de]=Aktionen
Name[el]=Ενέργειες
Name[en_GB]=Actions
Name[es]=Acciones
Name[et]=Toimingud
Name[fi]=Toiminnot
Name[fr]=Actions
Name[ga]=Gníomhartha
Name[gl]=Accións
Name[hu]=Műveletek
Name[ia]=Actiones
Name[it]=Azioni
Name[ja]=アクション
Name[kk]=Амалдар
Name[km]=អំពី
Name[ko]=동작
Name[lt]=Veiksmai
Name[lv]=Darbības
Name[mai]=क्रियासभ
Name[mr]=क्रिया
Name[nb]=Handlinger
Name[nds]=Akschonen
Name[nl]=Acties
Name[nn]=Handlingar
Name[pa]=ਐਕਸ਼ਨ
Name[pl]=Działania
Name[pt]=Acções
Name[pt_BR]=Ações
Name[ro]=Acțiuni
Name[ru]=Действия
Name[sk]=Akcie
Name[sl]=Dejanja
Name[sr]=Радње
Name[sr@ijekavian]=Радње
Name[sr@ijekavianlatin]=Radnje
Name[sr@latin]=Radnje
Name[sv]=Åtgärder
Name[tr]=Eylemler
Name[ug]=مەشغۇلاتلار
Name[uk]=Дії
Name[wa]=Faitindjes
Name[x-test]=xxActionsxx
Name[zh_CN]=动作
Name[zh_TW]=動作
Comment=Setup actions for notes
Comment[ar]=إعداد إجراءات الملاحظات
Comment[bs]=Postavi radnje za bilješke
Comment[ca]=Arranja les accions per a les notes
Comment[ca@valencia]=Arranja les accions per a les notes
Comment[cs]=Nastavení činností pro poznámky
Comment[da]=Opsætning af handlinger til noter
Comment[de]=Aktionen für Notizen einrichten
Comment[el]=Ρύθμιση ενεργειών για τις σημειώσεις
Comment[en_GB]=Setup actions for notes
Comment[es]=Configurar acciones para las notas
Comment[et]=Märkmete toimingute seadistamine
Comment[fi]=Muistiinpanotoimintojen asetukset
Comment[fr]=Configuration des actions pour les notes
Comment[ga]=Socraigh gníomhartha le haghaidh nótaí
Comment[gl]=Configurar as accións das notas
Comment[hu]=Műveletbeállítás feljegyzésekhez
Comment[ia]=Configuration de actiones pro notas
Comment[it]=Imposta le azioni per le note
Comment[ja]=ポップアップメモのアクション設定
Comment[kk]=Жазбалар амалдарын баптау
Comment[km]=រៀបចំ​សកម្មភាព​សម្រាប់​ការ​កត់​ចំណាំ
Comment[lt]=Nustatyti veiksmus pastaboms
Comment[lv]=Piezīmju darbību konfigurēšana
Comment[mr]=नोंदींकरिता क्रिया संयोजीत करा
Comment[nb]=Sett opp handlinger for notater
Comment[nds]=Akschonen för Notizen inrichten
Comment[nl]=Acties instellen voor notities
Comment[nn]=Set opp handlingar for notat
Comment[pa]=ਨੋਟ ਲਈ ਸੈਟਅੱਪ ਐਕਸ਼ਨ
Comment[pl]=Ustaw akcje dla notatek
Comment[pt]=Configurar as acções das notas
Comment[pt_BR]=Configurar ações para notas
Comment[ro]=Configurează acțiunile pentru notițe
Comment[ru]=Настроить действия связанные с заметками
Comment[sk]=Nastavenie akcií pre poznámky
Comment[sl]=Nastavitev dejanj za notice
Comment[sr]=Подесите радње за белешке
Comment[sr@ijekavian]=Подесите радње за биљешке
Comment[sr@ijekavianlatin]=Podesite radnje za bilješke
Comment[sr@latin]=Podesite radnje za beleške
Comment[sv]=Ställ in åtgärder för anteckningslappar
Comment[tr]=Notlar için eylemleri ayarla
Comment[uk]=Налаштуйте дії для нотаток
Comment[wa]=Apontyî les faitindjes po les notes
Comment[x-test]=xxSetup actions for notesxx
Comment[zh_CN]=便笺动作设置
Comment[zh_TW]=設定便條的動作
