[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_collection
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Collection
Name[cs]=Sbírka
Name[de]=Sammlung
Name[es]=Colección
Name[fi]=Kokoelma
Name[fr]=Collection
Name[gl]=Colección
Name[ia]=Collection
Name[nl]=Verzameling
Name[pt]=Colecção
Name[pt_BR]=Coleção
Name[sk]=Kolekcia
Name[sr]=Збирка
Name[sr@ijekavian]=Збирка
Name[sr@ijekavianlatin]=Zbirka
Name[sr@latin]=Zbirka
Name[sv]=Samling
Name[uk]=Збірка
Name[x-test]=xxCollectionxx
Name[zh_TW]=收藏
Comment=Setup collections for notes
Comment[cs]=Nastavení sbírek pro poznámky
Comment[de]=Sammlungen für Notizen einrichten
Comment[es]=Configurar colecciones para notas
Comment[fi]=Muistiinpanojen kokoelma-asetukset
Comment[fr]=Configuration des collections pour les notes
Comment[gl]=Configurar as coleccións de notas
Comment[ia]=Configura collectiones pro notas
Comment[nl]=Verzamelingen instellen voor notities
Comment[pt]=Configurar as colecções das notas
Comment[pt_BR]=Configurar as coleções das notas
Comment[sk]=Nastavenie kolekcií pre poznámky
Comment[sr]=Подесите збирке за белешке
Comment[sr@ijekavian]=Подесите збирке за биљешке
Comment[sr@ijekavianlatin]=Podesite zbirke za bilješke
Comment[sr@latin]=Podesite zbirke za beleške
Comment[sv]=Ställ in anteckningssamlingar
Comment[uk]=Налаштовування збірок нотаток
Comment[x-test]=xxSetup collections for notesxx
Comment[zh_TW]=設定便條收藏
