[Desktop Entry]
X-DocPath=knotes/index.html
Exec=knotes
Icon=knotes
Terminal=false
Type=Application

GenericName=Popup Notes
GenericName[af]=Opspring Notas
GenericName[ar]=الملاحظات المنبثقة
GenericName[bg]=Лепящи се бележки
GenericName[bs]=Iskočne napomene
GenericName[ca]=Notes emergents
GenericName[ca@valencia]=Notes emergents
GenericName[cs]=Vyskakovací poznámky
GenericName[cy]=Naid-nodiadau
GenericName[da]=Popop-noter
GenericName[de]=Haftnotizen
GenericName[el]=Αναδυόμενες σημειώσεις
GenericName[en_GB]=Popup Notes
GenericName[eo]=Glunotoj
GenericName[es]=Notas emergentes
GenericName[eu]=Laster-lehio oharrak
GenericName[fa]=یادداشتهای بالاپر
GenericName[fi]=Muistilaput
GenericName[fr]=Éditeur de petites notes
GenericName[fy]=Notysjes
GenericName[ga]=Preabnótaí
GenericName[gl]=Notas emerxentes
GenericName[he]=פתקים מוקפצים
GenericName[hr]=Skočne bilješke
GenericName[hu]=Jegyzettömb
GenericName[ia]=Notas de popup
GenericName[is]=Litlir gulir miðar
GenericName[it]=Note a comparsa
GenericName[ja]=ポップアップメモ
GenericName[ka]=მოტივტივე შენიშვნები
GenericName[kk]=Қалқымалы жазбалар
GenericName[km]=ចំណាំ​លេចឡើង
GenericName[ko]=팝업 노트
GenericName[lt]=Pastabos lapeliuose
GenericName[lv]=Piezīmju lapiņas
GenericName[mk]=Скок-белешки
GenericName[mr]=पॉपअप नोंदी
GenericName[ms]=Nota Popup 
GenericName[nb]=Sprettopp-notater
GenericName[nds]=Opduk-Notizen
GenericName[ne]=पपअप टिपोट
GenericName[nl]=Notities
GenericName[nn]=Sprettoppnotat
GenericName[pa]=ਨੋਟਿਸ ਪੋਪਅੱਪ
GenericName[pl]=Żółte karteczki
GenericName[pt]=Notas
GenericName[pt_BR]=Notas instantâneas
GenericName[ro]=Notițe
GenericName[ru]=Всплывающие заметки
GenericName[sk]=Vyskakujúce poznámky
GenericName[sl]=Prilepljajoče se notice
GenericName[sr]=Искачуће белешке
GenericName[sr@ijekavian]=Искачуће биљешке
GenericName[sr@ijekavianlatin]=Iskačuće bilješke
GenericName[sr@latin]=Iskačuće beleške
GenericName[sv]=Anteckningslappar
GenericName[ta]=தோன்றும் குறிப்புகள்
GenericName[tg]=Хабарҳои ошкоршаванда
GenericName[tr]=Seyyar Notlar
GenericName[ug]=سەكرىمە ئىزاھلار
GenericName[uk]=Записник
GenericName[vi]=Ghi chép Popup
GenericName[wa]=Aspitantès notes
GenericName[xh]=Ivelisa iincwadana
GenericName[x-test]=xxPopup Notesxx
GenericName[zh_CN]=弹出式记事本
GenericName[zh_TW]=彈出式便條

Name=KNotes
Name[af]=Knotas
Name[ar]=ملاحظات KNotes
Name[be]=KNotes
Name[bg]=KNotes
Name[br]=KNotes
Name[bs]=KNotes
Name[ca]=KNotes
Name[ca@valencia]=KNotes
Name[cs]=KNotes
Name[cy]=KNodiadau
Name[da]=KNotes
Name[de]=KNotes
Name[el]=KNotes
Name[en_GB]=KNotes
Name[eo]=Notoj
Name[es]=KNotes
Name[eu]=KNotes
Name[fi]=KNotes
Name[fr]=KNotes
Name[fy]=KNotes
Name[ga]=KNotes
Name[gl]=KNotes
Name[he]=KNotes
Name[hr]=Bilješka
Name[hu]=KNotes
Name[ia]=KNotes
Name[is]=KNotes
Name[it]=KNotes
Name[ja]=KNotes
Name[ka]=KNotes
Name[kk]=KNotes
Name[km]=KNotes
Name[ko]=KNotes
Name[lt]=KNotes
Name[lv]=KNotes
Name[mk]=КБелешки
Name[mr]=के-नोट्स
Name[ms]=KNotes
Name[nb]=KNotes
Name[nds]=KNotes
Name[ne]=केडीई टिपोट
Name[nl]=KNotes
Name[nn]=KNotes
Name[pa]=ਕੇ-ਨੋਟਿਸ
Name[pl]=KNotes
Name[pt]=KNotes
Name[pt_BR]=KNotes
Name[ro]=Notițe
Name[ru]=KNotes
Name[se]=KNotes
Name[sk]=KNotes
Name[sl]=KNotice
Name[sr]=К‑белешке
Name[sr@ijekavian]=К‑биљешке
Name[sr@ijekavianlatin]=K‑bilješke
Name[sr@latin]=K‑beleške
Name[sv]=Knotes
Name[ta]=கேகுறிப்புகள்
Name[tg]=KNotes
Name[tr]=KNotes
Name[ug]=KNotes
Name[uk]=KNotes
Name[vi]=KNotes
Name[wa]=KNotes
Name[xh]=KNotes
Name[x-test]=xxKNotesxx
Name[zh_CN]=KNotes
Name[zh_TW]=KNotes 便利貼

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Utility;TextTools;X-KDE-Utilities-Desktop;
