[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knote
X-KDE-FactoryName=knote_config_style
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knotes
X-KDE-ParentComponents=knotes,kontact_knotesplugin
X-KDE-CfgDlgHierarchy=KNotes
X-KDE-Weight=200

Name=Style
Name[ar]=النمط
Name[bs]=Stil
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[en_GB]=Style
Name[es]=Estilo
Name[et]=Stiil
Name[fi]=Tyyli
Name[fr]=Style
Name[ga]=Stíl
Name[gl]=Estilo
Name[hu]=Stílus
Name[ia]=Stilo
Name[it]=Stile
Name[ja]=スタイル
Name[kk]=Стилі
Name[km]=រចនាប័ទ្ម
Name[lt]=Stilius
Name[lv]=Stils
Name[mai]=शैली
Name[mr]=शैली
Name[nb]=Stil
Name[nds]=Stil
Name[nl]=Stijl
Name[nn]=Stil
Name[pa]=ਸਟਾਈਲ
Name[pl]=Style
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[ro]=Stil
Name[ru]=Стиль
Name[sk]=Štýl
Name[sl]=Slog
Name[sr]=Стил
Name[sr@ijekavian]=Стил
Name[sr@ijekavianlatin]=Stil
Name[sr@latin]=Stil
Name[sv]=Stil
Name[tr]=Biçim
Name[ug]=ئۇسلۇب
Name[uk]=Стиль
Name[wa]=Stîle
Name[x-test]=xxStylexx
Name[zh_CN]=风格
Name[zh_TW]=樣式
Comment=Style Settings
Comment[ar]=إعدادات النمط
Comment[bs]=Postavke stila
Comment[ca]=Arranjament d'estil
Comment[ca@valencia]=Arranjament d'estil
Comment[cs]=Nastavení stylu
Comment[da]=Indstilling af stil
Comment[de]=Stil-Einstellungen
Comment[el]=Ρυθμίσεις στυλ
Comment[en_GB]=Style Settings
Comment[es]=Preferencias del estilo
Comment[et]=Stiili seadistused
Comment[fi]=Tyyliasetukset
Comment[fr]=Paramètres du style
Comment[ga]=Socruithe Stíle
Comment[gl]=Configuración do estilo
Comment[hu]=Stílusbeállítások
Comment[ia]=Preferentias de stilo
Comment[it]=Impostazioni dello stile
Comment[ja]=スタイルの設定
Comment[kk]=Стиль параметрлері
Comment[km]=ការ​កំណត់​រចនា​ប័ទ្ម
Comment[lt]=Stiliaus nustatymai
Comment[lv]=Stila iestatījumi
Comment[mai]=शैली जमावट
Comment[mr]=शैली संयोजना
Comment[nb]=Stilinnstillinger
Comment[nds]=Stil instellen
Comment[nl]=Stijlinstellingen
Comment[nn]=Stilinnstillingar
Comment[pa]=ਸਟਾਈਲ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia styli
Comment[pt]=Configuração do Estilo
Comment[pt_BR]=Configurações de estilo
Comment[ro]=Configurări de stil
Comment[ru]=Настройка стиля
Comment[sk]=Nastavenia štýlu
Comment[sl]=Nastavitve sloga
Comment[sr]=Поставке стила
Comment[sr@ijekavian]=Поставке стила
Comment[sr@ijekavianlatin]=Postavke stila
Comment[sr@latin]=Postavke stila
Comment[sv]=Stilinställningar
Comment[tr]=Biçim Ayarları
Comment[uk]=Параметри стилю
Comment[wa]=Apontiaedjes des stîles
Comment[x-test]=xxStyle Settingsxx
Comment[zh_CN]=风格设置
Comment[zh_TW]=樣式設定
