[Desktop Entry]
Name=Big Title
Name[bs]=Veliki naslov
Name[ca]=Títol gran
Name[ca@valencia]=Títol gran
Name[de]=Großer Titel
Name[es]=Título grande
Name[fi]=Iso otsikko
Name[fr]=Grand titre
Name[gl]=Título Grande
Name[ia]=Titulo grande
Name[kk]=Үлкен атауы
Name[nb]=Stor tittel
Name[nl]=Grote titel
Name[pt]=Título Grande
Name[pt_BR]=Título grande
Name[sk]=Veľký titulok
Name[sr]=Велики наслов
Name[sr@ijekavian]=Велики наслов
Name[sr@ijekavianlatin]=Veliki naslov
Name[sr@latin]=Veliki naslov
Name[sv]=Stor rubrik
Name[tr]=Büyük Başlık
Name[uk]=Великий заголовок
Name[x-test]=xxBig Titlexx
Name[zh_TW]=大標題
Description=KNote printing theme with big title
Description[bs]=KNote tema štampe s velikim naslovom
Description[ca]=Tema d'impressió de KNotes amb títols grans
Description[ca@valencia]=Tema d'impressió de KNotes amb títols grans
Description[de]=KNote-Druckdesign mit großem Titel
Description[es]=Tema de impresión de KNote con título grande
Description[fi]=KNoten tulostusteema ison otsikon kanssa
Description[fr]=Thème d'impression avec grand titre pour knotes
Description[gl]=Tema de impresión do KNote cun título grande
Description[ia]=Thema de imprimer de KNote con titulo grande
Description[kk]=Атауы үлкен KNote басып шығару нақышы
Description[nb]=KNote utskriftstema med stor tittel
Description[nl]=Afdrukthema van KNote met grote titel
Description[pt]=Tema de impressão do KNotes com títulos grandes
Description[pt_BR]=Tema de impressão do KNotes com títulos grandes
Description[sk]=Tlačová téma KNote s veľkým titulkom
Description[sr]=Тема за штампање из К‑бележака са великим насловом 
Description[sr@ijekavian]=Тема за штампање из К‑биљежака са великим насловом 
Description[sr@ijekavianlatin]=Tema za štampanje iz K‑bilježaka sa velikim naslovom 
Description[sr@latin]=Tema za štampanje iz K‑beležaka sa velikim naslovom 
Description[sv]=Utskriftstema för anteckningslappar med stor rubrik
Description[tr]=Büyük başlıklı KNote yazdırma teması
Description[uk]=Тема друку KNote з великим заголовком
Description[x-test]=xxKNote printing theme with big titlexx
Description[zh_TW]=含大標題的 KNote 列印主題
